[Unit]
Description=Serverpod daemon
Requires=api.socket
After=network.target
[Service]
User=root
Group=root
WorkingDirectory=/var/www/fixie_server
ExecStart=dart bin/main.dart --mode production --bind unix:/run/api.sock api.wsgi:application
[Install]
WantedBy=multi-user.target