[Unit]
Description=Serverpod daemon
Requires=fixie.socket
After=network.target
[Service]
User=root
Group=root
WorkingDirectory=/var/www/fixie_server
ExecStart=dart bin/main.dart --role monolith
[Install]
WantedBy=multi-user.target